* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #00246B;
}

*:not(i) {
    font-family: "Poppins", sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
}

.heading {
    font-size: 40px;
    color: #00246B;
    text-align: center;
}

body {
    background-color: #CADCFC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.container {
    width: 40%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.inner-container {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 15px;
    border: none;
    border-bottom: 3px solid  #00246B;
    outline: none;
    font-size: 16px;
}

#search-btn:hover {
    background-color: #fff !important;
    border: 2px solid  #00246B;
    color:  #00246B;
    transition: .2s;
}

#search-btn {
    padding: 16px 36px;
    border: 2px solid #00246B;
    background: #00246B;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#city::placeholder {
    margin-top: 1.8em;
    color: var(--white);
    font-weight:400 ;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center  ;
}


#result h2 {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.18em;
    font-weight: 600;
    margin: 1.25em 0;
  }
  .weather,
  .desc {
    color: var(--off-white);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em;
  }
  .weather {
    margin-top: -0.7em;
  }
  #result img {
    margin: 0.6em 0 0 0;
    width: 6.2em;
    filter: drop-shadow(0 1.8em 3.7em var(--shadow));
  }
  #result h1 {
    font-size: 4em;
    margin: 0.3em 0 0.7em 0;
    line-height: 0;
    font-weight: 400;
    color: var(--white);
  }
  .temp-container {
    display: flex;

    justify-content: center;
  }
  .temp-container div {
    padding: 0.3em 1em;
  }
  .temp-container div:first-child {
    border-right: 1px solid var(--transp-white-1);
  }
  .temp-container .title {
    font-weight: 600;
    color: var(--white);
  }
  .temp-container .temp {
    font-weight: 300;
    color: var(--off-white);
  }
  .msg {
    margin-top: 1.8em;
    color: var(--white);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  #result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Tablet devices (between 768px and 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .container{
        width: 80%;
    }
}


/* Mobile devices (below 768px) */
@media (max-width: 767px) {
    #city::placeholder {
        margin-top: 1.8em;
        color: var(--white);
        font-weight:400 ;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.1em;
    }
    

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .heading {
        font-size: 25px;
        color: #fff;
        text-align: center;
    }

    .container{
        width: 80%;
        padding: 30px;
    }

    .details p {
        font-size: 14px;
    }

    input[type="text"] {
        font-size: 14px;
        padding: 8px;
    }

    #search-btn {
        padding: 7px 14px;
    }
}